.topbar {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
}
#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.w-list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-9 {
  grid-column-gap: 65px;
  grid-row-gap: 65px;
  justify-content: center;
  align-items: baseline;
  padding-left: 0;
  list-style-type: none;
  display: flex;
}
.list-item-8 {
  margin-top: 2em;
  list-style-type: none;
}
.image-63-copy {
  width: 30px;
  height: 30px;
}
.home-header{
  font-size: 2em;
  font-weight: 800;
}
.home-div-header{
  border-bottom: 1px dashed #333;
  width: 300px;
}

.image-aisha{
  border-radius: 50%;
  border: #333 solid 2px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 9em auto;
  max-width: 1000px;
}
.text-container {
  text-align: left;
}
.text-container p{
  margin: 1.6em 0;
}
.image-aisha {
  width: 200px;
  height: auto;
  border-radius: 50%; /* optional for a circular image */
}
.newsletter-div.green {
  border-style: solid none;
  border-top-width: 2px;
  border-top-color: #332e2e;
  border-bottom-width: 2px;
  border-bottom-color: #332e2e;
  background-color: #d9ffb6;
  flex-direction: column;
  height: auto;
  width: 100%;
}
.pink---list-of-themes-and-services {
  grid-column-gap: 10px;
  grid-row-gap: 59px;
  flex-direction: row;
  flex: 1;
  align-self: center;
  align-items: center;
  justify-content: center;
  margin: 0 2em;
  list-style-type: none;
  display: flex;
}
.theme-or-service-heading{
  font-size: 1.2em;
  font-weight: 600;
}

.shall-we-section {
  margin-top: 10em;
  margin: 7em 1em;
}
.shall-we-copy {
  grid-column-gap: 13px;
  grid-row-gap: 13px;
  border: 2px solid #332e2e;
  background-color: #d9ffb6;
  border-radius: 20px;
  flex-flow: column;
  flex: 0 auto;
  justify-content: center;
  align-self: auto;
  align-items: flex-start;
  margin: 2em auto;
  width: 400px;
  padding: 30px;
  display: flex;
  text-align: left;
}

.pointill-s {
  border-bottom: 1px dashed #332e2e;
  align-self: flex-start;
  margin-bottom: 2%;
  padding-bottom: 2%;
  display: inline-block;
}
.h2-title-category---light.shall-we {
  margin-top: 0;
  margin-bottom: 3%;
  display: block;
}
.h2-title-category---light {
  text-align: left;
  border: 1px #000;
  font-size: 2rem;
  font-weight: 200;
  line-height: 2.6rem;
}
ul {
  color: #332e2e;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 0%;
  padding-left: 5px;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  list-style-type: none;
}
.unordered-list-item {
  letter-spacing: 0.02rem;
  padding: 2px 0% 5px;
  font-size: 1rem;
  line-height: 1.5rem;
  list-style-type: none;
}
.email-button {
  height: 50px;
  border: 2px solid #332e2e;
  background-color: #332e2e;
  color: #fff7f3;
  text-align: center;
  cursor: pointer;
  border-radius: 100px;
  flex: 1;
  justify-content: center;
  align-self: auto;
  align-items: flex-start;
  width: auto;
  min-width: auto;
  padding: 2% 10%;
  font-weight: 400;
  transition: all 0.2s;
  display: block;
  position: relative;
}
.email-button:hover {
  height: 50px;
  background-color: #d9ffb6;
  color: #332e2e;
  border-style: solid;
  border-width: 2px;
  border-radius: 100px;
  width: auto;
  padding-left: 15%;
  padding-right: 15%;
  font-size: 1rem;
  line-height: 1.5rem;
  display: inline-block;
}
.section-5.footer {
  border-top: 3px none #332e2e;
  background-color: #ffd3f3;
  padding: 5% 0%;
}

.projects-section{
  margin: 7em 0;
}
.projects-section h2, .aboutme-section h2{
  font-size: 2.4em;
  font-weight: 800;
}

.projects-container {
  display: grid;
  gap: 25px;
  margin: 6em 1em; /* Center the container itself */
  max-width: 1200px; 
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjusted for better responsiveness */
}


input, textarea {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  width: 360px;
  padding: 15px;
  margin-top: 10px;
  border: 2px solid #332e2e;
  border-radius: 10px;
  background-color: #fff7f3;
  color: #332e2e;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  box-sizing: border-box;
}

input:focus, textarea:focus {
  outline: none;
  border-color: #332e2e;
}

textarea {
  height: 150px; /* Adjust height as needed */
  resize: vertical; /* Allows users to resize the textarea vertically */
}

.card {
  border: 2px solid #332e2e;
  border-radius: 25px;
  overflow: hidden;
  width: 300px;
  margin: 0 1em;
  transition: transform 0.2s;
  background-color: #332e2e;
  color: #fff7f3;
}

.card:hover {
  color: #332e2e;
  background-color: #fff7f3;
  transition: all 0.3s;
  border: 2px dashed #332e2e;
}

.card img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 1.2em 2em 2em 2em;
  text-align: left;
}

.card-content h3 {
  margin-bottom: 1.5em;
  font-size: 1em;
  font-weight: 500;
}

.card-content p {
  margin-top: 1.5em;
  font-size: 1.2em;
  font-weight: 700;
}

.style-line {
  width: 60px;
  border: 2px solid #332e2e;
  background-color: #d9ffb6;
  border-radius: 50px;
  width: 60px;
  height: 6px;
  margin-top: 7%;
  transition: width 0.3s ease;
}

.card:hover .style-line {
  width: 75px;
}

.aboutme-section{
  margin: 7em 0;
}

.aboutme-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4em 0;
  padding: 2em;
  border-radius: 8px;
}

.aboutme-text {
  flex: 1;
  padding: 20px;
}

.aboutme-text h2 {
  margin-bottom: 0.5em;
  font-size: 2rem;
  font-weight: bold;
}

.aboutme-text p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.aboutme-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  flex: 1;
  padding: 20px;
  margin-top: 30px;
}

.aboutme-box {
  border: 2px solid #332e2e;
  padding: 20px;
  height: 90px;
  text-align: center;
  border-radius: 8px;
  font-size: 1rem;
  display: flex; /* Enable flexbox */
  flex-direction: column; /* Arrange children in a column */
  justify-content: center; /* Center children vertically */
  align-items: center;
}

.resume-button-container {
  text-align: center;
  margin-top: 20px;
}
.resume-button {
  height: 50px;
  border: 2px solid #332e2e;
  background-color: #332e2e;
  color: #fff7f3;
  text-align: center;
  cursor: pointer;
  border-radius: 100px;
  flex: 1;
  justify-content: center;
  align-self: auto;
  align-items: flex-start;
  width: auto;
  min-width: auto;
  padding: 10px 10%;
  font-weight: 400;
  transition: all 0.2s;
}
.resume-button:hover {
  height: 50px;
  background-color: #fff7f3;
  color: #332e2e;
  border-style: solid;
  border-width: 2px;
  border-radius: 100px;
  width: auto;
  padding-left: 15%;
  padding-right: 15%;
  font-size: 1rem;
  line-height: 1.5rem;
}


@media (max-width: 550px) {
  .container {
      display: block;
      text-align: center; /* optional: center-align text on smaller screens */
  }
  .self-img {
      margin: 0 auto; /* optional: add some spacing between text and image */
  }
  .text-container {
      margin: 0 45px; /* optional: add some spacing between text and image */
  }
  .shall-we-copy {
    width: 330px;
  }
  .projects-container {
    grid-template-columns: 1fr; /* Ensure cards stack vertically */
  }
  .card {
    width: 330px;
    margin: 0 auto;
  }
  .card-content h3 {
    margin-bottom: 1em;
    font-size: 0.9em;
  }
  
  .card-content p {
    margin-top: 1em;
    font-size: 1em;

  }
  .card-content {
    padding: 0.9em 1.4em 1.4em 1.4em;
    text-align: left;
  }
  input, textarea {
    width: 300px;
  }
}

@media (max-width: 750px) {
  .aboutme-section {
    display: block;
  } }
